.gitpod-div {
  position: absolute;
  top: calc(50% + 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5bc0de;
  color: white;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border-radius: 0.25rem;
}
